.wrapper {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  .label {
    font-size: 25px;
    color: black;
  }
  .input {
    border-radius: 5px;
    color: black;
    height: 30px;
    width: 260px;
  }