.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .item:not(:last-child) {
    margin-bottom: 20px;
  }
  .text {
    color: black;
    font-size: 24px;
    text-align: left;
  }
  .btn {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
  }